body {
    font-family: 'Domine', serif;
    margin: 5%;
}

.realmadrid {
    border-left: 3px solid orange;
}

.button-click {
    color: white;
    padding: 10px 14px;
    background-image: linear-gradient(lightseagreen, tomato);
    border-radius: 7px;
    text-decoration: none;
    font-weight: 700;
}

.mission {
    color: lightseagreen;
    margin-top: -40px;
}

.section1 {
    display: flex;
    width: 80%;
    margin: 0 auto;

}

.padd {
    padding: 10px;
    font-size: 40px;
}