body {
    font-family: 'Domine', serif;

    /* padding: 2%; */
}

.realmadrid {
    border-left: 5px solid orange;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 2;
}

.button-click {
    color: white;
    padding: 10px 14px;
    background-image: linear-gradient(lightseagreen, tomato);
    border-radius: 7px;
    text-decoration: none;
    font-weight: 700;
}

.mission {
    color: lightseagreen;
    margin-top: -40px;
}

.section1 {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;

}

.padd {
    padding: 10px;
    font-size: 40px;
}

.club {
    text-align: center;
    font-family: Goudy Bookletter 1911, sans-serif;
    font-size: 40px;
}




.sec2mission {
    width: 30%;
    padding: 20px;
    background-color: rgb(241, 250, 227);
    border-radius: 40px;
}

.sec2mission img {
    width: 30%;
}

#vissionbg {
    background-color: rgb(253, 241, 239);
}

#goalsbg {
    background-color: rgb(250, 233, 250);
}

.section2 {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;
    justify-content: space-around;
}




.section3 {
    display: flex;
    width: 80%;

    margin: 0 auto;
    margin-bottom: 100px;
}

.section3 img {
    width: 80%;
    border-radius: 30px;
}





.section4 {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    background-image: url(images/bg1.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.section4 img {
    border-radius: 15px;
    width: 85%;
}



.republic {
    text-align: center;
    font-size: 40px;
}

.bdflag {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 150px;

}

.bdflag img {
    width: 80%;
    margin-left: 150px;
}

.end {
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-weight: 20vh;
}